# 05wk-2: Pandas – transform column (꿀팁)

최규빈  
2023-10-05

<a href="https://colab.research.google.com/github/guebin/DV2023/blob/main/posts/05wk-2.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# 1. 강의영상

<https://youtu.be/playlist?list=PLQqh36zP38-wVp_fe2YXiERTc0ZEh9Li_&si=rr31LPWCeN_negav>

# 2. Imports

In [1]:
import pandas as pd
import numpy as np

# 3. Pandas: transform column (꿀팁)

## A. `lambda`

저번시간에 했음

## B. `map`

저번시간에 했음

## C. `s.apply(변환함수)`

`-` 예시1: 원소별로 처음3개의 숫자만 출력

In [102]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

In [103]:
s.apply(lambda x: x[:3])

`-` 예시2: 원소별로 처음3개의 문자만 출력 $\to$ `str`자료형을
`int`자료형으로 변환

In [104]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

(방법1) – 한번에

In [105]:
s.apply(lambda x: int(x[:3]))

(방법2) – 연쇄적으로..

In [106]:
s.apply(lambda x: x[:3]).apply(int)

## D. `s.str`, `idx.str`

`-` 예시1: 원소별로 처음 3개의 숫자만 출력

In [107]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

In [108]:
s.str[:3]

`-` 예시2: 원소별로 isupper를 수행

In [109]:
s = pd.Series(['A','B','C','d','e','F'])
s

In [110]:
s.str.isupper()

`-` 예시3: 원소별로 공백제거 (pd.Series 뿐만 아니라 pd.Index 자료형에도
사용가능)

In [111]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
idx = df.columns

In [112]:
idx.str.replace(' ','')

## E. `s.astype()`

`-` 예시1: 원소의 타입을 모두 `int`형으로 변경

In [113]:
s = pd.Series(list('12345'))
s

In [114]:
s.astype(int)

`-` 예시2: 원소의 타입을 변환한 이후 브로드캐스팅 (int)

In [115]:
s1 = pd.Series(list('12345'))
s2 = pd.Series([-1,-2,-3,-4,-5])

In [116]:
s1.astype(int)+s2

`# 예시3`: 원소의 타입을 변환한 이후 브로드캐스팅 (str)

In [117]:
df = pd.read_csv("https://raw.githubusercontent.com/guebin/DV2023/main/posts/titanic.csv")[:5]
df

위의 자료에서 `Embarked` 열과 `Pclass`열을 이용하여 아래와 같은
`New Feature`를 만들어라.

| Embarked | Pclass | New Feature |
|:--------:|:------:|:-----------:|
|   ‘S’    |   3    |    ‘S3’     |
|   ‘C’    |   1    |    ‘C1’     |
|   ‘S’    |   3    |    ‘S3’     |
|   ‘S’    |   1    |    ‘S1’     |
|   ‘S’    |   3    |    ‘S3’     |

(풀이)

In [118]:
df.Embarked + df.Pclass.astype(str)

`#`

## F. 컴프리헨션, `lambda+map`을 무시하지 말 것

`# 예시1`

In [119]:
df = pd.read_csv("https://raw.githubusercontent.com/guebin/DV2023/main/posts/titanic.csv")[:5]
df

위의 자료에서 아래와 같은 변환을 하고 싶다면?

$$
f(\text{sex}, \text{sibsp}) = 
\begin{cases} 
0.7 + 0.25 \times \text{sibsp} & \text{if } \text{sex} = \text{'female'} \\
0.1 + 0.15 \times \text{sibsp} & \text{otherwise}
\end{cases}
$$

In [120]:
df.assign(Prob= list(map(lambda sex,sibsp: 0.7 + sibsp*0.25 if sex=='female' else 0.2 + sibsp*0.15, df.Sex, df.SibSp)))

`#`

`# 예시2`

In [121]:
df = pd.read_csv("https://raw.githubusercontent.com/guebin/DV2023/main/posts/titanic.csv")[:5]
df

위의 자료에서 Name열을 아래와 같이 분리하는 작업을 수행하라.

|     | title | Name                                          |
|-----|-------|-----------------------------------------------|
| 0   | Mr    | Owen Harris Braund                            |
| 1   | Mrs   | John Bradley (Florence Briggs Thayer) Cumings |
| 2   | Miss  | Laina Heikkinen                               |
| 3   | Mrs   | Jacques Heath (Lily May Peel) Futrelle        |
| 4   | Mr    | William Henry Allen                           |

(풀이)

In [122]:
_lst = [[title,f'{first_name} {last_name}'] for last_name, title, first_name in df.Name.str.replace(', ','/').str.replace('. ','/').str.split('/')]
pd.DataFrame(_lst, columns=['title','Name2'])

참고: “Mr,Mrs,Miss” 만 뽑아내는 코드 (대면수업에서 하려다가 실패한 코드)

In [123]:
df.Name.str.split(', ').str[-1].str.split('. ').str[0]

`#`

# 4. 숙제

아래와 같은 데이터프레임이 있다고 하자.

In [97]:
df = pd.DataFrame({'A':[1,2,3,4]})
df

아래의 결과를 관찰하고 이러한 결과가 나오는 이유를 정리하여 제출하라.

In [99]:
df[['A']].apply(np.mean)

In [100]:
df['A'].apply(np.mean)