# 04wk-1: Pandas – 기본기능, missing, query, 할당, transform column

(draft)

최규빈  
2023-09-25

<a href="https://colab.research.google.com/github/guebin/DV2023/blob/main/posts/04wk-1.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# 1. 강의영상

In [4]:
# {{<video https://youtu.be/playlist?list=PLQqh36zP38-yzpW1OqJWO39hEHdj1jGl2&si=BLIWqNA4KaAwp3H6 >}}

# 2. Imports

In [3]:
import numpy as np
import pandas as pd

# 3. Pandas: 기본기능

## A. 열의 이름 변경

`-` 방법1: `df.columns`에 대입

In [102]:
df = pd.DataFrame(np.random.randn(5,3))
df

In [103]:
df.columns = ['A','B','C']
df

`-` 방법2: `df.set_axis()`

In [104]:
df = pd.DataFrame(np.random.randn(5,3))
df

In [105]:
df.set_axis(['A','B','C'],axis=1)

`-` 방법3: `df.rename()`

In [106]:
df = pd.DataFrame(np.random.randn(5,3))
df

In [107]:
df.rename({0:'A'},axis=1)

## B. 행의 이름 변경

`-` 방법1: `df.index`에 대입

In [108]:
df = pd.DataFrame(np.random.randn(2,3))
df

In [109]:
df.index = ['hynn','iu']
df

`-` 방법2: `df.set_axis()`

In [110]:
df = pd.DataFrame(np.random.randn(2,3))
df

In [111]:
df.set_axis(list('AB'))

`-` 방법3: `df.rename()`

In [112]:
df = pd.DataFrame(np.random.randn(2,3))
df

In [113]:
df.rename({0:'A'})

`-` 방법4: 임의의 열을 행이름으로 지정!

In [114]:
df = pd.DataFrame({'id':[43052,43053], 'X1':[1,2],'X2':[2,3]})
df

In [115]:
df.set_index('id')

## `#` A~B에 대한 연습문제

`-` 데이터 load

In [571]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

`# 예제1`: 열의 이름 출력하고, 열의 이름중 공백(``)이 있을 경우
언더바(`_`) 로 바꾸자.

컬럼출력

In [344]:
df.columns

1.  `df.columns`에 직접대입

In [345]:
new_columns = [s.replace(' ','_') for s in df.columns]  
# df.columns = new_columns

1.  `set_axis()` 이용

In [346]:
new_columns = [s.replace(' ','_') for s in df.columns]  
df.set_axis(new_columns,axis=1)

1.  `rename()` 이용 – 안중요함

In [347]:
dct = {k:k.replace(' ','_') for k in df.columns}
df.rename(dct, axis=1)

`#`

`예제2`: ID를 row-index로 지정하라.

1.  직접지정

In [348]:
# df.index = df.ID

1.  `set_axis()`

In [349]:
df.set_axis(df.ID)

1.  `rename()` – 안중요함

In [350]:
dct = {k:v for k,v in zip(df.index,df.ID)}
df.rename(dct)

1.  `set_index()`

In [351]:
df.set_index('ID')

`#`

## C. `pd.T`

`-` `df.T`를 이용하여 데이터를 살피면 편리함

In [352]:
df.T.iloc[:,:3]

`-` 출력옵션 조정

In [353]:
pd.options.display.max_rows = 10
display(df.T.iloc[:,:3])
pd.reset_option("display.max_rows")

-   이 예제에서는 줄이는 옵션을 사용했지만 보통은 늘려서 사용함

## D. `df.dtypes`, `s.dtype`

`-` `df.dtypes`

In [354]:
df.dtypes

`-` `s.dtype`

In [355]:
df.Name.dtype

In [356]:
df.Age.dtype

In [359]:
df['International Reputation'].dtype

`-` `==`를 이용한 자료형 체크

In [332]:
df.Name.dtype == np.object_

In [335]:
df.Age.dtype == np.int64

In [360]:
df['International Reputation'].dtype == np.float64

`# 예제`: `df`에서 `int64` 자료형만 출력

`-` (풀이1)

In [361]:
pd.Series(list(df.dtypes))

In [362]:
df.iloc[:,[0,2,6,7,12]]

`-` (풀이2)

In [363]:
df.loc[:,[o == np.int64 for o in df.dtypes]]

`#`

## E. `df.sort_values()`

`-` 예시1: 나이가 어린 순서대로 정렬

In [364]:
df.sort_values('Age')

`-` 예시2: 나이가 많은 순서대로 정렬

In [365]:
df.sort_values('Age',ascending=False)

`-` 예시3: 능력치가 좋은 순서대로 정렬

In [366]:
df.sort_values('Overall',ascending=False)

## F. `df.info()`

In [367]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17660 entries, 0 to 17659
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        17660 non-null  int64
 1   Name                      17660 non-null  object
 2   Age                       17660 non-null  int64
 3   Photo                     17660 non-null  object
 4   Nationality               17660 non-null  object
 5   Flag                      17660 non-null  object
 6   Overall                   17660 non-null  int64
 7   Potential                 17660 non-null  int64
 8   Club                      17449 non-null  object
 9   Club Logo                 17660 non-null  object
 10  Value                     17660 non-null  object
 11  Wage                      17660 non-null  object
 12  Special                   17660 non-null  int64
 13  Preferred Foot            17660 non-null  object
 14  International Reputation  17660 non-null  float64
 15  Weak Foot                 17660 non-null  float64
 16  Skill Moves               17660 non-null  float64
 17  Work Rate                 17660 non-null  object
 18  Body Type                 17622 non-null  object
 19  Real Face                 17622 non-null  object
 20  Position                  17625 non-null  object
 21  Joined                    16562 non-null  object
 22  Loaned From               694 non-null    object
 23  Contract Valid Until      17299 non-null  object
 24  Height                    17660 non-null  object
 25  Weight                    17660 non-null  object
 26  Release Clause            16509 non-null  object
 27  Kit Number                17625 non-null  float64
 28  Best Overall Rating       21 non-null     object
dtypes: float64(4), int64(5), object(20)
memory usage: 3.9+ MB

## G. `df.isna()`

`-` 예시1: 열별로 결측치 count

In [368]:
df.isna()

In [369]:
df.isna().sum(axis=0)
df.isna().sum()

`-` 예시2: 결측치가 50% 이상인 열 출력

In [370]:
df.loc[:,(df.isna().sum() / len(df)) > 0.5]

## H. `df.drop()`

`-` 예시1: \[0,1,2,3\] 행을 drop

In [384]:
df.drop([0,1,2,3])
df.drop([0,1,2,3],axis=0)

`-` 예시2: \[‘Name’, ‘Age’\] 열을 drop

In [383]:
df.drop(columns=['Name','Age'])
df.drop(['Name','Age'],axis=1)

## `#` G~H 에 대한 연습문제

`# 예제`: 결측치가 50퍼 이상인 열을 제외하라.

`-` (풀이1)

In [393]:
df.isna().mean() > 0.5

In [394]:
df.drop(columns=['Loaned From','Best Overall Rating'])

`-` (풀이2)

In [398]:
df.loc[:,df.isna().mean() < 0.5]

`#`

# 4. Pandas: missing

## A. Numpy

`-` 발생: `np.nan`

In [523]:
np.nan

In [525]:
[1,2,3,np.nan]

In [536]:
arr = np.array([1,2,3,np.nan])
arr

`-` np.array에 nan이 있으면 연산결과도 nan

In [537]:
arr.mean()

`-` type

In [542]:
type(np.nan)

In [538]:
type(arr[0])

## B. Pandas

`-` 발생: np.nan, pd.NA

In [546]:
pd.Series([np.nan,1,2,3])

In [545]:
pd.Series([pd.NA,1,2,3])

`-` pd.Series에 `NaN` 혹은 `<NA>` 가 있다면 연산할때 제외함

In [547]:
pd.Series([np.nan,1,2,3]).mean()

In [548]:
pd.Series([pd.NA,1,2,3]).mean()

`-` type

In [557]:
s1 = pd.Series([np.nan,1,2,3])
type(s1[0])

In [558]:
s2 = pd.Series([pd.NA,1,2,3])
type(s2[0])

`-` 검출 ($\star$)

In [559]:
s1.isna()

In [560]:
s2.isna()

In [561]:
pd.isna(s1[0]), pd.isnull(s1[0])

In [562]:
pd.isna(s2[0]), pd.isnull(s2[0])

In [564]:
id(pd.isna), id(pd.isnull) # 같은함수

# 5. Pandas: query

In [399]:
ts = pd.DataFrame(np.random.normal(size=(20,4)),columns=list('ABCD'),index=pd.date_range('20221226',periods=20)).assign(E=['A']*10+['B']*10)
ts

## A. 기본 query

`-` 예시1: `A>0 and B<0`

In [400]:
ts.query('A>0 and B<0')

`-` 예시2: `A<B<C`

In [401]:
ts.query('A<B<C')

`-` 예시3: `(A+B/2) > 0`

In [402]:
ts.query('(A+B)>0')

`-` 예시4: `(A+B/2) > 0` and `E=='A'`

In [403]:
ts.query('(A+B)>0 and E=="A"')

In [404]:
ts.query("(A+B)>0 and E=='A'")

## B. 외부변수를 이용

`-` 예시1: `A > mean(A)`

In [405]:
mean = ts.A.mean()
mean

In [406]:
ts.query('A > @mean')

## C. Index로 query

`-` 예시: (2022년 12월30일 보다 이전 날짜) $\cup$ (2023년 1월10일)

In [407]:
ts.query('index <= "2022-12-30" or index == "2023-01-10"')

## D. 열의 이름에 공백이 있을 경우

`-` 예시1: 열의 이름에 공백이 있으면 백틱을 이용하면 된다.

In [410]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

In [429]:
df.query("`Skill Moves` > 4")

# 6. Pandas: 할당

In [219]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin})
df

## A. `df.assign()`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여
할당

In [220]:
df.assign(total = df.att*0.1 + df.rep*0.2 + df.mid*0.35 + df.fin*0.35)

> Note: 이 방법은 df를 일시적으로 변화시킴

## B. `df.eval()`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여
할당

In [221]:
df.eval('total = att*0.1 + rep*0.2 + mid*0.3 + fin*0.4')

> 이 방법은 df를 일시적으로 변화시킴

## C. `df[colname] = xxx`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여
할당

In [183]:
df['total'] = df.att*0.1 + df.rep*0.2 + df.mid*0.3 + df.fin*0.4
df

> 이 방법은 df를 영구적으로 변화시킴

# 7. Pandas: transform column

## A. `lambda`

`-` 예시1: $x \to x+2$

In [3]:
f = lambda x: x+2 
f(3)

`-` 예시2: $x,y \to x+y$

In [4]:
f = lambda x,y: x+y 
f(3,5)

`-` 예시3: ‘2023-09’ $\to$ 9

In [16]:
int('2023-09'[-2:])

In [17]:
f = lambda x: int(x[-2:])
f('2023-09')

In [18]:
f('2022-10')

`-` 예시4: ‘2023-09’ $\to$ 2023,9

In [21]:
f = lambda x: (int(x[:4]),int(x[-2:]))
f('2023-09')

`-` 예시5: 문자열이 ‘cat’이면 1 ’dog’ 이면 0

In [23]:
f = lambda x: 1 if x=='cat' else 0

In [25]:
f('cat'),f('dog')

`-` Note: `f`로 이름을 정하지 않고 직접 사용 가능

In [430]:
(lambda x: x+1)(1)

In [431]:
(lambda x,y: x+y)(2,3)

## B. `map`

`-` 개념: `map(f,[x1,x2,...xn])=[f(x1),f(x2),...,f(xn)]`

`-` 예시1: `x->x+1`을 `[1,2,3]`에 적용

In [433]:
f = lambda x: x+1 
list(map(f,[1,2,3]))

`-` 예시2 `df.Height`열 변환하기

In [621]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height[:5]
s

In [622]:
x = s[0]
x

In [623]:
list(map(lambda x: int(x[:-2]),s))

`# 예시3` `df.Height`열 변환하기 + 변환된 열 할당하기

In [624]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')

`-` (풀이1)

In [616]:
df.assign(Height = list(map(lambda x: int(x.replace('cm','')), df.Height)))

`-` (풀이2) – 사실 수틀리면 컴프리헨션 쓰면 된다.

In [457]:
df.assign(Height = [int(s.replace('cm', '')) for s in df.Height])

`#`

`# 예시4` – `df.Position` 열에 아래와 같은 변환을 수행하고, 변환된 열을
할당하라.

|            before             | after |
|:-----------------------------:|:-----:|
| `<span class="pos pos28">SUB` | `SUB` |
| `<span class="pos pos15">LCM` | `LCM` |
|  `<span class="pos pos7">LB`  | `LB`  |
| `<span class="pos pos13">RCM` | `RCM` |
| `<span class="pos pos13">RCM` | `RCM` |

In [617]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')

`-` (풀이1)

In [460]:
x = df.Position[0]
x

In [477]:
df.assign(Position = list(map(lambda x: x.split(">")[-1] if not pd.isna(x) else 'None', df.Position)))

`-` (풀이2) – 리스트컴프리헨션

In [518]:
f = lambda x: x.split(">")[-1] if not pd.isna(x) else 'None'

In [522]:
df.assign(Position = [f(s) for s in df.Position])

-   개인의견: 이미 람다로 함수를 만들어야 해서 그냥 map을 쓰는게
    자연스러움

## C. `s.apply(변환함수)`

`-` 예시: 원소별로 처음3개의 숫자만 출력

In [631]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

In [625]:
#pd.Series(map(lambda x: int(x[:-2]),s))
s.apply(lambda x: int(x[:-2])) # 편한가?

## D. `s.str`

`-` 예시1: 원소별로 처음 3개의 숫자만 출력

In [586]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

In [590]:
s.str[:3]

`-` 예시2: 원소별로 isupper를 수행

In [592]:
s = pd.Series(['A','B','C','d','e','F'])
s

In [593]:
s.str.isupper()

## E. `s.astype()`

`-` 예시1: 원소의 타입을 모두 `int`형으로 변경

In [596]:
s = pd.Series(list('12345'))
s

In [597]:
s.astype(np.int64)

`-` 예시2: 원소별로 (1) 처음3개의 문자열만 취하고 (2) 원소의 타입을 모두
인트형으로 변경

In [601]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

# 8. HW

`-` 문제: 아래의 자료에서 입학년도를 추가하고 싶다면?

In [626]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
student_id = [ '2023-12362', '2022-12471', '2023-12333', '2022-12400', '2022-12377',
               '2022-12469', '2023-12314', '2022-12363', '2023-12445', '2023-12336',
               '2023-12426', '2022-12380', '2023-12422', '2022-12488', '2022-12370',
               '2023-12443', '2022-12463', '2023-12491', '2023-12340', '2022-12312' ]
df = pd.DataFrame({'student_id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})
df.head()

In [630]:
# 출력결과가 아래와 같아야 한다.