---
title: "04wk-1: Pandas -- 기본기능, missing, query, 할당, transform column (draft)"
author: "최규빈"
date: "09/25/2023"
draft: true
categories:
  - pandas
---

<a href="https://colab.research.google.com/github/guebin/DV2023/blob/main/posts/04wk-1.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# 1. 강의영상

In [1]:
# {{<video https://youtu.be/playlist?list=PLQqh36zP38-yzpW1OqJWO39hEHdj1jGl2&si=BLIWqNA4KaAwp3H6 >}}

# 2. Imports

In [2]:
import numpy as np
import pandas as pd

# 3. Pandas: 기본기능

## A. 열의 이름 변경

`-` 방법1: `df.columns`에 대입

`-` 방법2: `df.set_axis()`

`-` 방법3: `df.rename()`

## B. 행의 이름 변경

`-` 방법1: `df.index`에 대입

`-` 방법2: `df.set_axis()`

`-` 방법3: `df.rename()`

`-` 방법4: 임의의 열을 행이름 으로 지정!

## `#` A~B에 대한 연습문제

`-` 데이터 load

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
0,209658,L. Goretzka,27,https://cdn.sofifa.net/players/209/658/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.net/teams/21/30.png,...,Yes,"<span class=""pos pos28"">SUB","Jul 1, 2018",NaN,2026,189cm,82kg,€157M,8.0,NaN
1,212198,Bruno Fernandes,27,https://cdn.sofifa.net/players/212/198/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,86,87,Manchester United,https://cdn.sofifa.net/teams/11/30.png,...,Yes,"<span class=""pos pos15"">LCM","Jan 30, 2020",NaN,2026,179cm,69kg,€155M,8.0,NaN
2,224334,M. Acuña,30,https://cdn.sofifa.net/players/224/334/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,85,85,Sevilla FC,https://cdn.sofifa.net/teams/481/30.png,...,No,"<span class=""pos pos7"">LB","Sep 14, 2020",NaN,2024,172cm,69kg,€97.7M,19.0,NaN
3,192985,K. De Bruyne,31,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,https://cdn.sofifa.net/flags/be.png,91,91,Manchester City,https://cdn.sofifa.net/teams/10/30.png,...,Yes,"<span class=""pos pos13"">RCM","Aug 30, 2015",NaN,2025,181cm,70kg,€198.9M,17.0,NaN
4,224232,N. Barella,25,https://cdn.sofifa.net/players/224/232/23_60.png,Italy,https://cdn.sofifa.net/flags/it.png,86,89,Inter,https://cdn.sofifa.net/teams/44/30.png,...,Yes,"<span class=""pos pos13"">RCM","Sep 1, 2020",NaN,2026,172cm,68kg,€154.4M,23.0,NaN

`# 예제1`: 열의 이름 출력하고, 열의 이름중 공백(` `)이 있을 경우 언더바(`_`) 로 바꾸자.

컬럼출력

(1) `df.columns`에 직접대입

(2) `set_axis()` 이용

(3) `rename()` 이용 -- 안중요함

`#`

`예제2`: ID를 row-index로 지정하라.

(1) 직접지정

(2) `set_axis()`

(3) `rename()` -- 안중요함

(4) `set_index()`

`#`

## C. `pd.T`

`-` 데이터 load

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
0,209658,L. Goretzka,27,https://cdn.sofifa.net/players/209/658/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.net/teams/21/30.png,...,Yes,"<span class=""pos pos28"">SUB","Jul 1, 2018",NaN,2026,189cm,82kg,€157M,8.0,NaN
1,212198,Bruno Fernandes,27,https://cdn.sofifa.net/players/212/198/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,86,87,Manchester United,https://cdn.sofifa.net/teams/11/30.png,...,Yes,"<span class=""pos pos15"">LCM","Jan 30, 2020",NaN,2026,179cm,69kg,€155M,8.0,NaN
2,224334,M. Acuña,30,https://cdn.sofifa.net/players/224/334/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,85,85,Sevilla FC,https://cdn.sofifa.net/teams/481/30.png,...,No,"<span class=""pos pos7"">LB","Sep 14, 2020",NaN,2024,172cm,69kg,€97.7M,19.0,NaN
3,192985,K. De Bruyne,31,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,https://cdn.sofifa.net/flags/be.png,91,91,Manchester City,https://cdn.sofifa.net/teams/10/30.png,...,Yes,"<span class=""pos pos13"">RCM","Aug 30, 2015",NaN,2025,181cm,70kg,€198.9M,17.0,NaN
4,224232,N. Barella,25,https://cdn.sofifa.net/players/224/232/23_60.png,Italy,https://cdn.sofifa.net/flags/it.png,86,89,Inter,https://cdn.sofifa.net/teams/44/30.png,...,Yes,"<span class=""pos pos13"">RCM","Sep 1, 2020",NaN,2026,172cm,68kg,€154.4M,23.0,NaN

`-` `df.T`를 이용하여 데이터를 살피면 편리함

`-` 출력옵션 조정

- 이 예제에서는 줄이는 옵션을 사용했지만 보통은 늘려서 사용함

## D. `df.dtypes`, `s.dtype`

`-` `df.dtypes`

`-` `s.dtype`

`-` `==`를 이용한 자료형 체크

`# 예제`: `df`에서 `int64` 자료형만 출력

`-` (풀이1)

`-` (풀이2)

`#`

## E. `df.sort_values()`

`-` 예시1: 나이가 어린 순서대로 정렬

`-` 예시2: 나이가 많은 순서대로 정렬

`-` 예시3: 능력치가 좋은 순서대로 정렬

## F. `df.info()`

## G. `df.isna()`

`-` 예시1: 열별로 결측치 count

`-` 예시2: 결측치가 50% 이상인 열 출력

## H. `df.drop()`

`-` 예시1: [0,1,2,3] 행을 drop

`-` 예시2: ['Name', 'Age'] 열을 drop

## `#` G~H 에 대한 연습문제

`# 예제`: 결측치가 50퍼 이상인 열을 제외하라.

`-` (풀이1)

`-` (풀이2)

`#`

# 4. Pandas: missing

## A. Numpy

`-` 발생: `np.nan`

In [523]:
np.nan

nan

In [525]:
[1,2,3,np.nan]

[1, 2, 3, nan]

In [536]:
arr = np.array([1,2,3,np.nan])
arr

array([ 1.,  2.,  3., nan])

`-` np.array에 nan이 있으면 연산결과도 nan

In [537]:
arr.mean()

nan

`-` type

In [542]:
type(np.nan)

float

In [538]:
type(arr[0])

numpy.float64

## B. Pandas

`-` 발생: np.nan, pd.NA

In [546]:
pd.Series([np.nan,1,2,3])

0    NaN
1    1.0
2    2.0
3    3.0
dtype: float64

In [545]:
pd.Series([pd.NA,1,2,3])

0    <NA>
1       1
2       2
3       3
dtype: object

`-` pd.Series에 `NaN` 혹은 `<NA>` 가 있다면 연산할때 제외함

In [547]:
pd.Series([np.nan,1,2,3]).mean()

2.0

In [548]:
pd.Series([pd.NA,1,2,3]).mean()

2.0

`-` type

In [557]:
s1 = pd.Series([np.nan,1,2,3])
type(s1[0])

numpy.float64

In [558]:
s2 = pd.Series([pd.NA,1,2,3])
type(s2[0])

pandas._libs.missing.NAType

`-` 검출 ($\star$)

In [559]:
s1.isna()

0     True
1    False
2    False
3    False
dtype: bool

In [560]:
s2.isna()

0     True
1    False
2    False
3    False
dtype: bool

In [561]:
pd.isna(s1[0]), pd.isnull(s1[0])

(True, True)

In [562]:
pd.isna(s2[0]), pd.isnull(s2[0])

(True, True)

In [564]:
id(pd.isna), id(pd.isnull) # 같은함수

(139809127572768, 139809127572768)

# 5. Pandas: query

In [399]:
ts = pd.DataFrame(np.random.normal(size=(20,4)),columns=list('ABCD'),index=pd.date_range('20221226',periods=20)).assign(E=['A']*10+['B']*10)
ts

                   A         B         C         D  E
2022-12-26 -0.270857 -1.228653  1.531689 -0.537053  A
2022-12-27 -1.002490 -0.237320  0.158735  1.475163  A
2022-12-28  1.227294 -1.229115 -0.230923 -0.588956  A
2022-12-29  1.055675  0.207466 -1.342777  0.328476  A
2022-12-30 -1.361552  0.332200 -0.973502 -0.087079  A
2022-12-31 -0.427126 -1.098348 -1.574930 -0.984405  A
2023-01-01  0.708859  0.440459  0.177206  1.278599  A
2023-01-02 -0.463298 -0.339402  0.796854  0.430886  A
2023-01-03  0.060733 -0.855747  0.406378 -0.374688  A
2023-01-04 -0.624314 -2.294164 -1.440067  0.468901  A
2023-01-05 -0.870416  1.546113  0.511670  0.629909  B
2023-01-06 -0.824110  0.099533 -0.620332  0.532668  B
2023-01-07  0.503465  1.242962  1.454505  0.078116  B
2023-01-08  0.265140 -0.257599 -0.001765 -0.006001  B
2023-01-09 -0.244641  0.003440 -0.520551 -1.234238  B
2023-01-10 -0.084888  1.703080  1.120433 -0.086535  B
2023-01-11 -0.331437 -0.551683 -0.013150 -0.152485  B
2023-01-12 -0.245932  0.803214 -0.308245  0.867083  B
2023-01-13  1.634994  2.874205  0.894526  0.299051  B
2023-01-14  1.215381  0.732784 -0.015137 -0.160478  B

## A. 기본 query

`-` 예시1: `A>0 and B<0`

`-` 예시2: `A<B<C`

`-` 예시3: `(A+B/2) > 0`

`-` 예시4: `(A+B/2) > 0` and `E=='A'`

## B. 외부변수를 이용

`-` 예시: `A > mean(A)`

## C. Index로 query

`-` 예시: (2022년 12월30일 보다 이전 날짜) $\cup$ (2023년 1월10일)

## D. 열의 이름에 공백이 있을 경우

In [410]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
0,209658,L. Goretzka,27,https://cdn.sofifa.net/players/209/658/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.net/teams/21/30.png,...,Yes,"<span class=""pos pos28"">SUB","Jul 1, 2018",NaN,2026,189cm,82kg,€157M,8.0,NaN
1,212198,Bruno Fernandes,27,https://cdn.sofifa.net/players/212/198/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,86,87,Manchester United,https://cdn.sofifa.net/teams/11/30.png,...,Yes,"<span class=""pos pos15"">LCM","Jan 30, 2020",NaN,2026,179cm,69kg,€155M,8.0,NaN
2,224334,M. Acuña,30,https://cdn.sofifa.net/players/224/334/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,85,85,Sevilla FC,https://cdn.sofifa.net/teams/481/30.png,...,No,"<span class=""pos pos7"">LB","Sep 14, 2020",NaN,2024,172cm,69kg,€97.7M,19.0,NaN
3,192985,K. De Bruyne,31,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,https://cdn.sofifa.net/flags/be.png,91,91,Manchester City,https://cdn.sofifa.net/teams/10/30.png,...,Yes,"<span class=""pos pos13"">RCM","Aug 30, 2015",NaN,2025,181cm,70kg,€198.9M,17.0,NaN
4,224232,N. Barella,25,https://cdn.sofifa.net/players/224/232/23_60.png,Italy,https://cdn.sofifa.net/flags/it.png,86,89,Inter,https://cdn.sofifa.net/teams/44/30.png,...,Yes,"<span class=""pos pos13"">RCM","Sep 1, 2020",NaN,2026,172cm,68kg,€154.4M,23.0,NaN

`-` 예시: `Skill Moves > 4`

# 6. Pandas: 할당

In [11]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin})
df

    att  rep  mid  fin
0    65   55   50   40
1    95  100   50   80
2    65   90   60   30
3    55   80   75   80
4    80   30   30  100
5    75   40  100   15
6    65   45   45   90
7    60   60   25    0
8    95   65   20   10
9    90   80   80   20
10   55   75   35   25
11   95   95   45    0
12   95   55   15   35
13   50   80   40   30
14   50   55   15   85
15   95   30   30   95
16   50   50   45   10
17   65   55   15   45
18   70   70   40   35
19   90   90   80   90

## A. `df.assign()`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여 할당

> Note: 이 방법은 df를 일시적으로 변화시킴

## B. `df.eval()`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여 할당

> Note: 이 방법은 df를 일시적으로 변화시킴

## C. `df[colname] = xxx`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여 할당

> Note: 이 방법은 df를 영구적으로 변화시킴

# 7. Pandas: transform column

## A. `lambda`

`-` 예시1: $x \to x+2$

`-` 예시2: $x,y \to x+y$

`-` 예시3: '2023-09' $\to$ 9

`-` 예시4: '2023-09' $\to$ 2023,9

`-` 예시5: 문자열이 'cat'이면 1 'dog' 이면 0 // 'cat이면 1 'cat'이 아니면 0

`-` Note: `f`로 이름을 정하지 않고 직접 사용 가능

## B. `map`

`-` 개념: `map(f,[x1,x2,...xn])=[f(x1),f(x2),...,f(xn)]`

`-` 예시1: `x->x+1`을 `[1,2,3]`에 적용

`-` 예시2 `df.Height`열 변환하기

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height[:5]
s

0    189cm
1    179cm
2    172cm
3    181cm
4    172cm
Name: Height, dtype: object

`# 예시3` `df.Height`열 변환하기 + 변환된 열 할당하기

In [14]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')

`-` (풀이1)

`-` (풀이2) -- 사실 수틀리면 컴프리헨션 쓰면 된다.

`#`

`# 예시4` -- `df.Position` 열에 아래와 같은 변환을 수행하고, 변환된 열을 할당하라.

|before|after|
|:-:|:-:|
|`<span class="pos pos28">SUB`|`SUB`|
|`<span class="pos pos15">LCM`|`LCM`|
|`<span class="pos pos7">LB`|`LB`|
|`<span class="pos pos13">RCM`|`RCM`|
|`<span class="pos pos13">RCM`|`RCM`|

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')

`-` (풀이1)

`-` (풀이2) -- 리스트컴프리헨션

- 개인의견: 이미 람다로 함수를 만들어야 해서 그냥 map을 쓰는게 자연스러움

## C. `s.apply(변환함수)`

`-` 예시: 원소별로 처음3개의 숫자만 출력

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

## D. `s.str`

`-` 예시1: 원소별로 처음 3개의 숫자만 출력

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

`-` 예시2: 원소별로 isupper를 수행

In [18]:
s = pd.Series(['A','B','C','d','e','F'])
s

0    A
1    B
2    C
3    d
4    e
5    F
dtype: object

## E. `s.astype()`

`-` 예시1: 원소의 타입을 모두 `int`형으로 변경

In [27]:
s = pd.Series(list('12345'))
s

0    1
1    2
2    3
3    4
4    5
dtype: object

`-` 예시2: 원소별로 (1) 처음3개의 문자열만 취하고 (2) 원소의 타입을 모두 인트형으로 변경

In [601]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
s = df.Height

# 8. HW

`-` 문제: 아래의 자료에서 입학년도를 추가하고 싶다면?

In [38]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
student_id = [ '2023-12362', '2022-12471', '2023-12333', '2022-12400', '2022-12377',
               '2022-12469', '2023-12314', '2022-12363', '2023-12445', '2023-12336',
               '2023-12426', '2022-12380', '2023-12422', '2022-12488', '2022-12370',
               '2023-12443', '2022-12463', '2023-12491', '2023-12340', '2022-12312' ]
df = pd.DataFrame({'student_id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})
df.head()

   student_id  att  rep  mid  fin
0  2023-12362   65   55   50   40
1  2022-12471   95  100   50   80
2  2023-12333   65   90   60   30
3  2022-12400   55   80   75   80
4  2022-12377   80   30   30  100