---
title: "supp: 중간고사 성적분포"
author: "최규빈"
date: "10/31/2023"
draft: false
categories:
---

In [20]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2023/main/posts/mid.csv')
df.sort_values('Score').reset_index(drop=True)

   Score
0      0
1      0
2      0
3      0
4      0
..   ...
63    70
64    70
65   미제출
66   미제출
67   미제출

[68 rows x 1 columns]