---
title: "03wk-2: (draft)"
author: "최규빈"
date: "09/20/2023"
categories:
  - pandas
---

<a href="https://colab.research.google.com/github/guebin/DV2023/blob/main/posts/03wk-1.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# 1. 강의영상

In [1]:
# {{<video https://youtu.be/playlist?list=PLQqh36zP38-z-WJQdo9LACRZw0Lc2alqm&si=KeI8SchuDRPsRfgw >}}

# 2. Imports

In [2]:
# !pip install plotnine -- 설치해야해요~

In [3]:
import numpy as np
import pandas as pd

# 3. Pandas: 행과 열의 선택

`-` 두 가지 형태의 데이터프레임

In [42]:
df = pd.DataFrame({'date': ['12/30','12/31','01/01','01/02','01/03'], 'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}) 
df

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

In [43]:
ts = pd.DataFrame({'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}, index=['12/30','12/31','01/01','01/02','01/03']) 
ts

       X1   X2  X3   X4
12/30  65   55  50   40
12/31  95  100  50   80
01/01  65   90  60   30
01/02  55   80  75   80
01/03  80   30  30  100

## A. 열의 선택

`-` 방법1: `df.?` + str

In [45]:
# df.X1

`-` 방법2: `df[?]` + str, \[str,str\]

In [47]:
# df['X1'] # str 
# df[['X1']] # [str]
# df[['X1','X3']] # [str,str]

`-` 방법3: `df.iloc[:,?]` + int, int:int, \[int,int\], \[bool,bool\],
range

In [50]:
# df.iloc[:,0] # int
# df.iloc[:,-2:] # int:int - 슬라이싱
# df.iloc[:,1::2] # int:int - 스트라이딩
# df.iloc[:,[0]] # [int]
# df.iloc[:,[0,1]] # [int,int]
# df.iloc[:,[True,True,False,False,False]] # bool의 list 
# df.iloc[:,range(2)] # range

`-` 방법4: `df.loc[:,?]` + str, ‘str:str’, \[str,str\], \[bool,bool\]

In [52]:
# df.loc[:,'X1'] # str
# df.loc[:,'X1':'X3'] # 'str':'str' -- 칼럼이름으로 슬라이싱 **
# df.loc[:,'X1'::2] # 'str':'str' -- 칼럼이름으로 스트라이딩 ** 
# df.loc[:,['X1']] # [str]
# df.loc[:,['X1','X4']] # [str,str]
# df.loc[:,[True,False,False,True,False]] # bool의 list

## B. 행의 선택

`-` 방법1: `df[]` + int:int, str:str, \[bool,bool\],
pd.Series(\[bool,bool\]) – $(\star\star\star\star\star)$

In [54]:
# df[:2] # int:int -- 슬라이싱 // df.iloc[:2,:], df.iloc[:2] 와 같음
# df[::2] # int:int -- 스트라이딩 
# ts['12/30':'01/02'] # str:str -- 슬라이싱
# ts['12/31'::2] # str:str -- 스트라이딩
# df[['12' in date for date in df.date]] # [bool,bool]
# df[df.X1 < 70] # pd.Series([bool,bool])

`-` 방법2: `df.iloc[]`, `df.iloc[,:]` + int, int:int, \[int,int\],
\[bool,bool\], range

In [56]:
# df.iloc[0] # int 
# df.iloc[-2:] # int:int -- 슬라이싱
# df.iloc[1::2] # int:int -- 스트라이딩
# df.iloc[[0]] # [int]
# df.iloc[[0,1]] # [int,int]
# df.iloc[['12' in date for date in df.date]] # [bool,bool]
# df.iloc[range(2)] # range

In [59]:
# df.iloc[0,:] # int 
# df.iloc[-2:,:] # int:int -- 슬라이싱
# df.iloc[1::2,:] # int:int -- 스트라이딩
# df.iloc[[0],:] # [int]
# df.iloc[[0,1],:] # [int,int]
# df.iloc[['12' in date for date in df.date],:] # [bool,bool]
# df.iloc[range(2),:] # range

`-` 방법3: `df.loc[]`, `df.loc[,:]` + int, str, int:int, str:str,
\[int,int\], \[str,str\], \[bool,bool\], pd.Series(\[bool,bool\])

In [61]:
# df.loc[0] # int 
# ts.loc['12/30'] # str 
# df.loc[:2] # int:int 
# ts.loc[:'01/02'] # str:str 
# df.loc[[0,1]] # [int,int]
# ts.loc[['12/30','01/01']] # [str,str]
# df.loc[['12' in date for date in df.date]] # [bool,bool]
# df.loc[df.X1>70] # pd.Series([bool,bool])

## D. 제 스타일

`-` **가장 안전한 코드**

In [63]:
# df.loc[:,:]

`-` 상황1: 하나의 col을 뽑으려 할때 좋은 코드

In [65]:
# df.X1 # 최애 
# df['X1'] # 차애 
# df[['X1']] # 차애

`-` 상황2: row 슬라이싱을 할때 좋은 코드 $(\star\star\star)$

In [67]:
# df[:5] # 최애 
# ts[:'01/02'] # 시계열인 경우

`-` 상황3: 조건에 맞는 row를 뽑을때 좋은 코드

In [69]:
# df[df.X1<60] # 최애
# df.loc[['12' in date for date in df.date]] # 차애

`-` 상황4: 하나의 row를 뽑으려 할때 좋은 코드

In [71]:
# df.iloc[0] # 최애 
# df.loc[0] # 차애

`-` 상황5: (row,col)을 뽑으려 할때 좋은 코드

In [75]:
# # 최애: pd.Series를 뽑고 -> 인덱스로접근
# df.X1[0]
# df['X1'][0]

# # 차애: iloc, loc 으로 한번에 뽑기
# df.iloc[0,0]
# df.loc[0,'X1']

***위의 상황이외에는 `df.loc[:,:]`를 사용하는것이 유리하다***

`-` 상황6: column 슬라이싱을 할때

In [80]:
# df.loc[:,'X1':'X3']

`-` 상황7: row + column 슬라이싱을 하는 가장 좋은 코드

In [81]:
# df.loc[::2,'X1':'X2']

`-` 상황8: 조건에 맞는 col을 뽑기에 가장 좋은 코드

In [84]:
# df.loc[:,[len(colname)>2 for colname in df.columns]]

`-` 상황9: 조건에 맞는 row, col을 뽑기에 가장 좋은 코드

In [86]:
# df.loc[df.X1>70,[len(colname)>2 for colname in df.columns]]

## D. 제 스타일 X

`-` 제가 안쓰는 코드1

In [24]:
df[:1]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40

이러면 내 입장에서는 마치 아래가 동작할 것 같잖아..

In [25]:
df[0]

KeyError: 0

`-` 제가 안쓰는 코드2: bool의 list를 사용할때 iloc은 가급적 쓰지마세요

In [26]:
df.iloc[list(df['X1']<80),:]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40
2  01/01  65  90  60  30
3  01/02  55  80  75  80

이러면 마치 아래도 동작할 것 같잖아..

In [27]:
df.iloc[df['X1']<80,:]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

## E. 요약

`-` 알아두면 좋은 규칙

-  `.iloc[]` 와 `.iloc[,:]`는 완전히 동등하다.
-  `.loc[]` 와 `.loc[,:]`는 완전히 동등하다.
-  결과를 `pd.Series` 형태가 아닌 `pd.DataFrame` 형태로 얻고 싶다면 `[[?]]`를 사용하면 된다.

`-` 정리

::: {.panel-tabset}
### ROW

|     type of indexer      | `.` | `[]` | `.iloc` |  `.loc`  | 내가 쓴다면? | 
|:------------------------:|:---:|:----:|:-------:|:--------:|:-------:|
|           int            |  X  |  X   |    O    | $\Delta$ | `df.iloc[3,:]` | 
|         int:int          |  X  |  O   |    O    | $\Delta$ | `df[3:5]` |
|       \[int,int\]        |  X  |  X   |    O    | $\Delta$ | `df.iloc[idx,:]`| 
|           str            |  X  |  X   |    X    |    O     | `ts.loc['time1',:]`|
|         str:str          |  X  |  O   |    X    |    O     | `ts.loc['time1':'time2',:]`|
|       \[str,str\]        |  X  |  X   |    X    |    O     | 안할 듯 | 
|      \[bool,bool\]       |  X  |  O   |    O    |    O     | `df[filtered_idx]` |
| pd.Series(\[bool,bool\]) |  X  |  O   |    X    |    O     | `df[df.X1>20]` | 

### COL

|     type of indexer      | target | `.` | `[]` | `.iloc` |  `.loc`  | 내가 쓴다면?| 
|:------------------------:|:------:|:---:|:----:|:-------:|:--------:|:-------:|
|           int            |  col   |  X  |  X   |    O    |    X     | `df.iloc[:,0]`|
|         int:int          |  col   |  X  |  X   |    O    |    X     | `df.iloc[:,0:2]`|
|       \[int,int\]        |  col   |  X  |  X   |    O    |    X     | `df.iloc[:,idx]` | 
|           str            |  col   |  O  |  O   |    X    |    O     | `df.loc[:,'X1']`| 
|         str:str          |  col   |  X  |  X   |    X    |    O     | `df.loc[:,'X1':'X4']` | 
|       \[str,str\]        |  col   |  X  |  O   |    X    |    O     | `df.loc[:,colname_list]` |
|      \[bool,bool\]       |  col   |  X  |  X   |    O    |    O     | `df.loc[:,bool_list]` | 

:::

# 4. Pandas: query

In [28]:
df=pd.DataFrame(np.random.normal(size=(20,4)),columns=list('ABCD'),index=pd.date_range('20221226',periods=20)).assign(E=['A']*10+['B']*10)
df

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2022-12-27 -0.064282 -0.358218  0.420549  0.524016  A
2022-12-28 -2.057355 -0.264822  1.788472 -0.618423  A
2022-12-29 -0.015549  1.464135  0.430070 -0.664126  A
2022-12-30 -0.855794  1.279662 -1.079034  1.582851  A
2022-12-31 -1.269346  1.902134  0.585944 -1.386313  A
2023-01-01  0.467574 -0.780882  1.520395  0.691056  A
2023-01-02  1.233973 -0.628871 -1.197564  0.648973  A
2023-01-03 -3.064211 -0.131497 -2.038923 -0.837546  A
2023-01-04  2.121505  0.956887 -0.273770 -0.501390  A
2023-01-05 -1.029920  0.235108 -0.683521  0.817926  B
2023-01-06 -1.587053  0.760252  0.503582  0.537517  B
2023-01-07  0.995070 -0.846203 -0.353419  0.952496  B
2023-01-08 -2.222735 -0.449644  0.370354 -0.828161  B
2023-01-09  0.203517  0.815637 -0.270224 -1.229096  B
2023-01-10 -0.959396  1.263892 -1.424824  0.307376  B
2023-01-11 -0.175511  0.573211 -0.506680  0.340402  B
2023-01-12 -0.470896  0.622965 -0.588325 -0.433937  B
2023-01-13 -1.176995 -0.505550 -1.566153  0.310221  B
2023-01-14  1.185932  0.451831  2.319927 -2.142748  B

## A. 기본 query

`-` 예시1: `A>0 and B<0`

In [29]:
df.query('A>0 and B<0')

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2023-01-01  0.467574 -0.780882  1.520395  0.691056  A
2023-01-02  1.233973 -0.628871 -1.197564  0.648973  A
2023-01-07  0.995070 -0.846203 -0.353419  0.952496  B

`-` 예시2: `A<B<C`

In [30]:
df.query('A<B<C')

                   A         B         C         D  E
2022-12-28 -2.057355 -0.264822  1.788472 -0.618423  A
2023-01-08 -2.222735 -0.449644  0.370354 -0.828161  B

`-` 예시3: `(A+B/2) > 0`

In [31]:
df.query('(A+B)>0')

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2022-12-29 -0.015549  1.464135  0.430070 -0.664126  A
2022-12-30 -0.855794  1.279662 -1.079034  1.582851  A
2022-12-31 -1.269346  1.902134  0.585944 -1.386313  A
2023-01-02  1.233973 -0.628871 -1.197564  0.648973  A
2023-01-04  2.121505  0.956887 -0.273770 -0.501390  A
2023-01-07  0.995070 -0.846203 -0.353419  0.952496  B
2023-01-09  0.203517  0.815637 -0.270224 -1.229096  B
2023-01-10 -0.959396  1.263892 -1.424824  0.307376  B
2023-01-11 -0.175511  0.573211 -0.506680  0.340402  B
2023-01-12 -0.470896  0.622965 -0.588325 -0.433937  B
2023-01-14  1.185932  0.451831  2.319927 -2.142748  B

`-` 예시4: `(A+B/2) > 0` and `E=='A'`

In [32]:
df.query('(A+B)>0 and E=="A"')

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2022-12-29 -0.015549  1.464135  0.430070 -0.664126  A
2022-12-30 -0.855794  1.279662 -1.079034  1.582851  A
2022-12-31 -1.269346  1.902134  0.585944 -1.386313  A
2023-01-02  1.233973 -0.628871 -1.197564  0.648973  A
2023-01-04  2.121505  0.956887 -0.273770 -0.501390  A

In [33]:
df.query("(A+B)>0 and E=='A'")

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2022-12-29 -0.015549  1.464135  0.430070 -0.664126  A
2022-12-30 -0.855794  1.279662 -1.079034  1.582851  A
2022-12-31 -1.269346  1.902134  0.585944 -1.386313  A
2023-01-02  1.233973 -0.628871 -1.197564  0.648973  A
2023-01-04  2.121505  0.956887 -0.273770 -0.501390  A

## B. 외부변수를 이용

`-` 예시

In [34]:
mean = df.A.mean()
mean

-0.39871257315388997

In [35]:
df.query('A > @mean')

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2022-12-27 -0.064282 -0.358218  0.420549  0.524016  A
2022-12-29 -0.015549  1.464135  0.430070 -0.664126  A
2023-01-01  0.467574 -0.780882  1.520395  0.691056  A
2023-01-02  1.233973 -0.628871 -1.197564  0.648973  A
2023-01-04  2.121505  0.956887 -0.273770 -0.501390  A
2023-01-07  0.995070 -0.846203 -0.353419  0.952496  B
2023-01-09  0.203517  0.815637 -0.270224 -1.229096  B
2023-01-11 -0.175511  0.573211 -0.506680  0.340402  B
2023-01-14  1.185932  0.451831  2.319927 -2.142748  B

## C. Index로 query

`-` 예시

In [36]:
df.query('index <= "2022-12-30" or index == "2023-01-10"')

                   A         B         C         D  E
2022-12-26  0.767221 -0.290584 -1.065691  1.615358  A
2022-12-27 -0.064282 -0.358218  0.420549  0.524016  A
2022-12-28 -2.057355 -0.264822  1.788472 -0.618423  A
2022-12-29 -0.015549  1.464135  0.430070 -0.664126  A
2022-12-30 -0.855794  1.279662 -1.079034  1.582851  A
2023-01-10 -0.959396  1.263892 -1.424824  0.307376  B

# 5. Pandas: 할당

`-` 자료

In [37]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin})
df

    att  rep  mid  fin
0    65   55   50   40
1    95  100   50   80
2    65   90   60   30
3    55   80   75   80
4    80   30   30  100
5    75   40  100   15
6    65   45   45   90
7    60   60   25    0
8    95   65   20   10
9    90   80   80   20
10   55   75   35   25
11   95   95   45    0
12   95   55   15   35
13   50   80   40   30
14   50   55   15   85
15   95   30   30   95
16   50   50   45   10
17   65   55   15   45
18   70   70   40   35
19   90   90   80   90

## A. `df.assign()`

`-` 방법1: assign을 이용한 추가

In [38]:
df.assign(total = df.att*0.1 + df.rep*0.2 + df.mid*0.35 + df.fin*0.35)

    att  rep  mid  fin  total
0    65   55   50   40  49.00
1    95  100   50   80  75.00
2    65   90   60   30  56.00
3    55   80   75   80  75.75
4    80   30   30  100  59.50
5    75   40  100   15  55.75
6    65   45   45   90  62.75
7    60   60   25    0  26.75
8    95   65   20   10  33.00
9    90   80   80   20  60.00
10   55   75   35   25  41.50
11   95   95   45    0  44.25
12   95   55   15   35  38.00
13   50   80   40   30  45.50
14   50   55   15   85  51.00
15   95   30   30   95  59.25
16   50   50   45   10  34.25
17   65   55   15   45  38.50
18   70   70   40   35  47.25
19   90   90   80   90  86.50

> 이 방법은 df를 일시적으로 변화시킴

## B. `df.eval()`

`-` 방법2: eval을 이용한 추가

In [39]:
df.eval('total = att*0.1 + rep*0.2 + mid*0.3 + fin*0.4')

    att  rep  mid  fin  total
0    65   55   50   40   48.5
1    95  100   50   80   76.5
2    65   90   60   30   54.5
3    55   80   75   80   76.0
4    80   30   30  100   63.0
5    75   40  100   15   51.5
6    65   45   45   90   65.0
7    60   60   25    0   25.5
8    95   65   20   10   32.5
9    90   80   80   20   57.0
10   55   75   35   25   41.0
11   95   95   45    0   42.0
12   95   55   15   35   39.0
13   50   80   40   30   45.0
14   50   55   15   85   54.5
15   95   30   30   95   62.5
16   50   50   45   10   32.5
17   65   55   15   45   40.0
18   70   70   40   35   47.0
19   90   90   80   90   87.0

> 이 방법은 df를 일시적으로 변화시킴

## C. `df[colname] = xxx`

`-` 방법3: `df['total']` 을 이용한 할당

In [40]:
df['total'] = df.att*0.1 + df.rep*0.2 + df.mid*0.3 + df.fin*0.4
df

    att  rep  mid  fin  total
0    65   55   50   40   48.5
1    95  100   50   80   76.5
2    65   90   60   30   54.5
3    55   80   75   80   76.0
4    80   30   30  100   63.0
5    75   40  100   15   51.5
6    65   45   45   90   65.0
7    60   60   25    0   25.5
8    95   65   20   10   32.5
9    90   80   80   20   57.0
10   55   75   35   25   41.0
11   95   95   45    0   42.0
12   95   55   15   35   39.0
13   50   80   40   30   45.0
14   50   55   15   85   54.5
15   95   30   30   95   62.5
16   50   50   45   10   32.5
17   65   55   15   45   40.0
18   70   70   40   35   47.0
19   90   90   80   90   87.0

> 이 방법은 df를 영구적으로 변화시킴

# 6. HW

`-` 문제: 아래의 자료에서 입학년도를 추가하고 싶다면?

In [184]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
student_id = [ '2023-12362', '2022-12471', '2023-12333', '2022-12400', '2022-12377',
               '2022-12469', '2023-12314', '2022-12363', '2023-12445', '2023-12336',
               '2023-12426', '2022-12380', '2023-12422', '2022-12488', '2022-12370',
               '2023-12443', '2022-12463', '2023-12491', '2023-12340', '2022-12312' ]
df = pd.DataFrame({'student_id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})
df.head()

   student_id  att  rep  mid  fin
0  2023-12362   65   55   50   40
1  2022-12471   95  100   50   80
2  2023-12333   65   90   60   30
3  2022-12400   55   80   75   80
4  2022-12377   80   30   30  100

In [185]:
df.assign(year=[l.split('-')[0] for l in df.student_id]).query('year=="2022"')

    student_id  att  rep  mid  fin  year
1   2022-12471   95  100   50   80  2022
3   2022-12400   55   80   75   80  2022
4   2022-12377   80   30   30  100  2022
5   2022-12469   75   40  100   15  2022
7   2022-12363   60   60   25    0  2022
11  2022-12380   95   95   45    0  2022
13  2022-12488   50   80   40   30  2022
14  2022-12370   50   55   15   85  2022
16  2022-12463   50   50   45   10  2022
19  2022-12312   90   90   80   90  2022